.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top:0;
  left:0;
  z-index: 10;
  width: 100%;
  height: 5rem;
  background-color: red;
}

.header-item-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.login-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 100vh;
}